.purple-gradient {
  background: rgba(51, 20, 95, 1);
  background: -moz-linear-gradient(top, rgba(51, 20, 95, 1) 0%, rgba(140, 87, 216, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51, 20, 95, 1)), color-stop(100%, rgba(140, 87, 216, 1)));
  background: -webkit-linear-gradient(top, rgba(51, 20, 95, 1) 0%, rgba(140, 87, 216, 1) 100%);
  background: -o-linear-gradient(top, rgba(51, 20, 95, 1) 0%, rgba(140, 87, 216, 1) 100%);
  background: -ms-linear-gradient(top, rgba(51, 20, 95, 1) 0%, rgba(140, 87, 216, 1) 100%);
  background: linear-gradient(to bottom, rgba(51, 20, 95, 1) 0%, rgba(140, 87, 216, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33145f', endColorstr='#8c57d8', GradientType=0);
}

.jumbotron {
  .jumbotron-image {
    width: 50vw;
    max-width: 40rem;
    display: block;
    margin: auto;
  }

  .lead {
    /*margin-top: 25px;
    margin-bottom: -25px;*/
  }

  p {
    margin-top: 1rem;
  }

  p:last-of-type {
    margin-bottom: -25px;
  }

  &.purple-gradient .lead {
    color: #e7e7e7;
  }
}

a.btn {
  width: 8.5rem;
  margin: .5rem;
}

.blacktocat {
  margin-top: -5px;
  margin-right: 5px;
}


