<header>
  <p class="lead"> This test succeed </p>
</header>
<article>
  <div class="collapsible closed">
    <ul>
      <li><a href="#" class="expandall">Expand</a></li>
      <li><a href="#" class="collapseall">Collapse</a></li>
    </ul>
    <p class="title">Included page: <a href="FrontPage.SuiteDemoTests.SetUp">.FrontPage.SuiteDemoTests.SetUp</a> <a
      href="FrontPage.SuiteDemoTests.SetUp?edit&amp;redirectToReferer=true&amp;redirectAction=" class="edit">(edit)</a>
    </p>
    <div>
      <table>
        <tbody>
        <tr>
          <td>Empty SetUp</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <h2 id="Thisismytest">This is my test</h2>
  Is a division test<br><br>
  <table>
    <tbody>
    <tr>
      <td colspan="3">Division</td>
    </tr>
    <tr>
      <td>numerator</td>
      <td>denominator</td>
      <td>quotient?</td>
    </tr>
    <tr>
      <td>20</td>
      <td>4</td>
      <td>4</td>
    </tr>
    </tbody>
  </table>
...<br><br>
  <table>
    <tbody>
    <tr>
      <td colspan="3">Division</td>
    </tr>
    <tr>
      <td>numerator</td>
      <td>denominator</td>
      <td>quotient?</td>
    </tr>
    <tr>
      <td>20</td>
      <td>4</td>
      <td>5</td>
    </tr>
    </tbody>
  </table>
...<br><br>
  <table>
    <tbody>
    <tr>
      <td colspan="3">Division</td>
    </tr>
    <tr>
      <td>numerator</td>
      <td>denominator</td>
      <td>quotient?</td>
    </tr>
    <tr>
      <td>20</td>
      <td>20</td>
      <td>1</td>
    </tr>
    </tbody>
  </table>

</article>
