<header>
  <p class="lead"> Demo Suite Page </p>
</header>
<article>
  Navigate FitNesse to check the Bootrap 4 theme.
  <hr>
  <span class="meta">variable defined: TEST_SYSTEM=slim</span>
  <br>
  <br>
  <div class="contents">
    <b>Contents:</b>
    <ul class="toc1">
      <li>
        <a class="static" href="FrontPage.SuiteDemoTests.SetUp">Set Up</a>
      </li>
     <!-- <li>
        <a class="test" href="FrontPage.SuiteDemoTests.TestErrorCase">Test Error Case +</a>
        <span class="pageHelp">: This test fails</span>
      </li>
      <li>
        <a class="test" href="FrontPage.SuiteDemoTests.TestIgnoreCase">Test Ignore Case +</a>
        <span class="pageHelp">: This test is ignored</span>
      </li>-->
      <li>
        <a class="test" href="FrontPage.SuiteDemoTests.TestSuccessCase">Test Success Case +</a>
        <span class="pageHelp">: This test succeed</span>
      </li>
      <!--<li>
        <a class="test" href="FrontPage.SuiteDemoTests.TestWarningCase">Test Warning Case +</a>
        <span class="pageHelp">: This test produce warning</span>
      </li>-->
      <li>
        <a class="static" href="FrontPage.SuiteDemoTests.TypographyShowcase">Typography Showcase</a>
        <span class="pageHelp">: This is a static page</span>
      </li>
    </ul>
  </div>


</article>
